@font-face {
    font-family: "Norse";
    src: url(fonts/norse-bold.otf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto-MediumItalic";
    src: url(fonts/Roboto-MediumItalic.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(fonts/roboto-regular.ttf);
    font-weight: 400;
}



/* ---  --- */

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
}

header {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    color: white;
    flex: 1 1 35vw;
    padding-block-start: 25vh;
}

nav {
    background-color: rgb(18, 18, 18, 0.5);
    padding-block: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    max-width: 80px;
    height: auto;
}

h1 {
    font-family: "Norse";
    font-size: 5rem;
    font-weight: lighter;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex: 1 1 65vw;
    background-color: whitesmoke;
}

#account-creation {
    display: flex;
    flex-flow: column;
    gap: 50px;
}



/* --- message --- */

#message {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    gap: 25px;
    font-size: 1.3rem;
}

#message p {
    white-space: pre-line;
    font-family: "Roboto-Medium";
    padding-inline: 40px 120px;
}

span {
    font-family: "Roboto-MediumItalic";
}



/* --- sign-up-form --- */

form {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

fieldset {
    border: none;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0 4px 5px -4px gray;
    background-color: white;
    padding-block-end: 20px;
    padding-inline: 40px 120px;
}

legend {
    font-family: "Roboto-Medium";
    font-size: 1.4rem;
    padding-block: 20px;
}

.form-section {
    display: flex;
    flex-flow: row wrap;
    gap: 20px 60px;
    padding-block-end: 20px;
    max-width: 540px;
}

.input-type {
    display: flex;
    flex-flow: column-reverse wrap;
    gap: 2px;
    flex: 1;
}

input {
    border: 1px solid #c6c7ca;
    border-radius: 3px;
    height: 1.7rem;
}

input:hover {
    outline: 1px solid gray;
}

input:focus {
    outline: 1px solid blue;
}

label {
    font-family: "Roboto-Medium";
    font-size: 0.7rem;
    letter-spacing: 1.5px;
    color: rgb(47, 54, 54);
}

button {
    background-color: #596D48;
    border: none;
    border-radius: 4px;
    height: 35px;
    width: 180px;
    font-family: "Roboto-Medium";
    font-size: 0.83rem;
    color: white;
    margin-inline-start: 40px;
}

button:hover {
    cursor: pointer;
}

button:active {
    color: black;
}

form>p {
    font-family: "Roboto-Regular";
    font-size: 0.83rem;
    flex: 1;
    margin-inline-start: 40px;
}

form>p a {
    font-family: "Roboto-Medium";
    font-size: 0.83rem;
    text-decoration: none;
    color: #596D48;
}

form>p a:active {
    color: black;
}



/* --- @media queries --- */

@media (max-width: 1180px) {
    * {
        overflow-x: hidden;
    }

    body {
        flex-flow: column wrap;
    }

    header {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    main {
        justify-content: initial;
        flex: 1;
        padding-block: 30px;
    }

    nav {
        min-width: 100%;
    }

    #message {
        gap: 10px;
    }
}

@media (max-width: 520px) {
    .input-type {
        flex: initial;
        width: 240px;
    }

    #message,
    legend {
        font-size: 1rem;
        margin-inline: auto;
        text-align: center;
        padding-inline: 70px;
        gap: 10px;
    }

    #message>p,
    fieldset,
    button,
    form>p {
        padding-inline: 0;
        margin: 0;
    }

    #account-creation {
        gap: 10px;
    }

    form,
    .form-section,
    legend {
        align-items: center;
        justify-content: center;
    }
}