@font-face {
    font-family: "Norse";
    src: url(fonts/norse-bold.otf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto-MediumItalic";
    src: url(fonts/Roboto-MediumItalic.ttf);
    font-weight: 500;
}



/* ---  --- */

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
}

header {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    color: white;
    flex: 1 1 35vw;
    padding-block-start: 25vh;
}

nav {
    background-color: rgb(18, 18, 18, 0.5);
    padding-block: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    max-width: 80px;
    height: auto;
}

h1 {
    font-family: "Norse";
    font-size: 5rem;
    font-weight: lighter;
}

main {
    padding: 15vh 120px 15vh 40px;
    flex: 1 1 65vw;
}



/* --- message --- */

#message {
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
    font-size: 1.4rem;
    padding-block-end: 80px;
}

#message p {
    white-space: pre-line;
    font-family: "Roboto-Medium";
}

span {
    font-style: italic;
}



/* --- sign-up-form --- */






/* --- account --- */